# Add these entries to your existing local.properties file.
TRAKT_CLIENT_ID=
TRAKT_CLIENT_SECRET=
TRAKT_REDIRECT_URI=nuvioenhanced://auth/trakt
SIMKL_CLIENT_ID=
SIMKL_REDIRECT_URI=nuvioenhanced://auth/simkl
SIMKL_APP_NAME=MewMobile
ANILIST_CLIENT_ID=
ANILIST_REDIRECT_URI=nuvioenhanced://auth/anilist
MAL_CLIENT_ID=
MAL_REDIRECT_URI=nuvioenhanced://auth/mal
PREMIUMIZE_CLIENT_ID=
NUVIO_UPDATE_GITHUB_OWNER=somilkhan
NUVIO_UPDATE_GITHUB_REPO=MewMobile
